:root {
  --color-black-gray: #4f5665;
  --color-white-gray: #afb5c0;
  --color-very-black-gray: #0b132a;
  --color-red: #f53855;
  --color-dark-red: #f53838;
  --background-color: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
  --font-weight-light-bold: 400;
  --font-weight-bold: 500;
  --font-weight-very-bold: 700;
  --default-radius: 1rem;
  --default-padding: 2rem;
  --desktop-width: 1140px;
  --tablet-width: 600px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

/* End CSS Reset */
.container {
  display: flex;
  -webkit-box-align: center;
  flex-direction: column;
  gap: calc(var(--default-padding) * 4);
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
}

/* Start Header*/
.header {
  position: sticky;
  top: 0;
  padding: 1.5rem 0;
  display: flex;
  background-color: #fff;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

.header::before {
  content: "";
  position: absolute;
  border-bottom: 0.1rem solid var(--color-input-border);
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: var(--color-background);
  z-index: -1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-very-black-gray);
  font-size: 2rem;
}

.logo__title {
  font-weight: var(--font-weight-bold);
}

.logo__title--vpn {
  font-weight: var(--font-weight-very-bold);
}

.logo__title--vpn-2 {
  font-weight: var(--font-weight-bold);
}

.nav {
  display: flex;
  column-gap: 3rem;
  font-size: 1.6rem;
  color: var(--color-black-gray);
}

.sign {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
}

.sign__in {
  color: var(--color-very-black-gray);
}

.sign__up {
  color: var(--color-red);
  padding: 1.3rem 4.5rem;
  border-radius: calc(var(--default-radius) * 1000);
  border: 1px solid var(--color-red);
}

/* End Header */
/* Start Article */
.article {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.section-1 {
  margin-bottom: 5rem;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
}

.box__title {
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-very-black-gray);
}

.box__GetStarted {
  color: white;
  margin-top: 5rem;
  padding: 1.75rem 7.75rem;
  border-radius: var(--default-radius);
  background-color: var(--color-dark-red);
  box-shadow: 0 0.4rem 0.8rem 0.5rem rgba(245, 56, 56, 0.35);
  font-size: 1.6rem;
  font-weight: var(--font-weight-very-bold);
}

h2.box__title {
  font-size: 3.5rem;
  font-weight: var(--font-weight-very-bold);
}

.image {
  width: 100%;
  max-width: 50rem;
}

.description {
  color: var(--color-black-gray);
  font-size: 1.6rem;
  font-weight: var(--font-weight-light-bold);
  margin: 2rem 0;
}

.box__list--item {
  display: flex;
  align-items: center;
  row-gap: 2rem;
  color: var(--color-black-gray);
  font-size: 1.4rem;
  font-weight: var(--font-weight-light-bold);
}

.row {
  width: 100%;
  margin-top: 10rem;
  justify-content: space-between;
  padding: calc(var(--default-padding) / 2) calc(var(--default-padding) * 2);
  border-radius: var(--default-radius);
  box-shadow: 0 0.4rem 0.4rem 0.5rem rgba(13, 16, 37, 0.05);
}

.row__column {
  padding: 5rem 3rem;
  display: flex;
  align-items: center;
  column-gap: 5rem;
}

.vertical-line {
  height: 12.5rem;
  border: 2px solid #eeeff2;
}

.row__column--text {
  font-size: 2.5rem;
  color: var(--color-black-gray);
}

.number {
  font-size: 2.5rem;
  color: var(--color-very-black-gray);
}

.section-3 {
  column-gap: 17rem;
}

.box__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.plan {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  background: var(--background-color);
  text-align: center;
}

.plans {
  column-gap: 5rem;
  align-items: center;
  justify-content: center;
}

.plan_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #eeeff2;
  height: 76rem;
  width: 33rem;
  border-radius: var(--default-radius);
}

.premium_column {
  border: 2px solid var(--color-red);
}

.free_icon {
  margin-top: 8rem;
}

.plan_title {
  margin: 3rem 0;
  font-size: 1.8rem;
  color: var(--color-very-black-gray);
  font-weight: var(--font-weight-bold);
}

.plan_title-2 {
  font-size: 2.5rem;
}

.mo {
  color: var(--color-black-gray);
  font-weight: var(--font-weight-light-bold);
}

.group_icon {
  margin-right: 1rem;
}

.get_plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 5rem;
}

.customer_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  padding-bottom: 10rem;
}

.clients__opinions {
  margin: 4rem 0;
}

.clients__wrapper {
  display: flex;
  margin: 0 auto;
  overflow-x: auto;
  column-gap: 5rem;
}

.clients_opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #eeeff2;
  height: 23rem;
  border-radius: var(--default-radius);
  flex-basis: 40%;
  flex-shrink: 0;
  scroll-snap-align: start;
  padding: 1rem;
}

.clients_opinion-red {
  border: 2px solid var(--color-red);
}

.clients_opinion-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: 2rem;
  column-gap: 2rem;
}

.clients_opinion--pic {
  width: 5rem;
  border-radius: 50%;
}

.clients_opinion--info {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: var(--font-weight-light-bold);
  color: var(--color-black-gray);
}

.clients_opinion--name {
  font-size: 1.8rem;
  color: var(--color-very-black-gray);
  font-weight: var(--font-weight-bold);
}

.clients_opinion--rate {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-left: 7rem;
  justify-self: left;
  font-size: 1.6rem;
  font-weight: var(--font-weight-light-bold);
  color: var(--color-very-black-gray);
}

.controls {
  position: relative;
  margin-top: 1rem;
}

.controls_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dots {
  display: flex;
  position: absolute;
  left: 15%;
  margin-right: auto;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #f53838;
}

.arrows {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  margin-left: auto;
  margin-right: 30rem;
  cursor: pointer;
}

.arrow-left {
  padding: 2rem;
  border-radius: 50%;
  border: 2px solid #f53838;
}

.arrow-right {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #f53838;
}

.subscribe_section {
  background: var(--background-color);
  padding-top: 10rem;
}

.subscribe {
  width: 90%;
  margin: -25rem auto 0 auto;
  display: flex;
  padding: 6rem 7rem;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

.last {
  background: var(--background-color);
  display: flex;
  padding-top: 10rem;
  justify-content: center;
  flex-direction: row;
  column-gap: 12rem;
}

.logo_last {
  display: flex;
  flex-direction: column;
}

.social_media {
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: left;
  color: var(--color-black-gray);
}

.links__title {
  margin-bottom: 1rem;
  color: var(--color-very-black-gray);
}

.footer {
  text-align: left;
  color: var(--color-white-gray);
}

/* End Article */
/* Responsive For Mobile & Tablet */
@media (max-width: 800px) {
  .header {
    justify-content: left;
    column-gap: 1rem;
  }
  .header .logo {
    column-gap: 1rem;
    font-size: 1.5rem;
  }
  .header .nav {
    column-gap: 1rem;
    font-size: 1rem;
  }
  .header .sign {
    column-gap: 1rem;
    font-size: 1rem;
  }
  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
  }
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--default-padding);
  }
  .row__column {
    padding: 3rem;
    margin-bottom: 3rem;
  }
  .section-3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .box__list--item {
    text-align: left;
  }
  .plans {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan_column {
    width: 100%;
    margin-bottom: 3rem;
  }
  .premium_column {
    border: 2px solid #eeeff2;
  }
  .clients_opinion {
    max-width: 100%; /* Allow testimonials to take up full width on smaller screens */
  }
  .clients__wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .clients_opinion {
    flex-basis: auto;
  }
  .controls {
    margin-top: 1rem;
  }
  .controls_container {
    justify-content: center;
  }
  .arrows {
    margin-right: 0;
  }
  .subscribe {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .last {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    column-gap: 0;
  }
  .links {
    text-align: center;
  }

  .logo {
    text-align: center;
    justify-content: center;
  }
  .social_media {
    justify-content: center;
    text-align: center;
  }
  .footer {
    text-align: center;
    justify-content: center;
  }
}
/* Add this media query for mobile devices with a maximum width of 500px */
@media (max-width: 700px) {
  .header::before {
    z-index: 0;
  }
  .header {
    top: 0;
    padding: 0 1rem; /* Adjust padding as needed */
  }
  .header .nav {
    flex-direction: column; /* Stack navigation links vertically */
    margin-top: 3rem; /* Adjust margin as needed */
    row-gap: 0.5rem;
  }
  .header .sign {
    flex-direction: column; /* Stack navigation links vertically */
    row-gap: 1rem;
  }
}
/* End Responsive For Mobile & Tablet */ /*# sourceMappingURL=style.css.map */
